/* Basic Body Elements*/

a {
    color: rgb(71, 70, 70);
}

body {
    margin: 0;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5rem;
    margin: 18px auto 12px auto;
}

h2 {
    padding: 20px 0px 0px 20px;
    font-size: 2.5rem;
}

h3 {
    padding: 0px 0px 0px 10px;
    font-size: 2rem;
}

h4 {
    padding: 10px 0px 0px 10px;
    font-size: 1.5rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    padding: 0;
}

/* nav elements*/

nav {
    background-color: #e4f9f5;
    height: 54px;
    width: 100%;
    z-index: 1040;
    position: fixed;
    margin: 0;
    padding: 0;
    text-align: left;
    top: 0px;
}

nav a {
    display: block;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 20px 10px 5px 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: blanchedalmond;
    color: black;
}

.topnav-right a {
    float: right;
    margin: 0;
    padding: 15px 10px 5px 10px;
}

.icon-size {
    width: 28px;
    height: 28px;
    padding: 0;
}


/* Body Styling */

.heading-style {
    font-family: 'Sacramento', cursive;
}

.top-container {
    background-color: #e4f9f5;
    color: #11999e;
    margin: 54px 0 0 0;
    padding: 10px 0 30px 0;
    position: relative;
    text-align: center;
}

.top-container img {
    height: 340px;
}

.top-container h4 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;

}

.middle-container {
    background-color: floralwhite;
    margin: 0;
    position: relative;
    text-align: center;
}

.middle-container img {
    height: 340px
}

#middle-container-projects {
    text-align: left;
    padding-left: 20px
}

.bottom-container {}





.skill-row {}

/*text decoration and styling*/

.no-bullets {
    padding: 0;
    text-decoration: none;
}