/* Basic Body Elements*/

body {
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #11999e;
  margin: 0;
  font-family: 'Merriweather', serif;
}

h2 {
  color: #66BFBF;
  padding: 20px 0;
  font-size: 2.5rem;
}

h3 {
  padding: 0px 0px 10px 0px;
  font-size: 2rem;
}

h4 {
  padding: 10px 0px 10px 0px;
  font-size: 1.5rem;
}

hr {
  background-position: center;
  border-top: 3px solid #11999e;
  margin: 22px auto 10px auto;
  width: 50%;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  margin: 0;
}

table {
  padding: 10px 20px;
}

/* nav elements*/

nav {
  background-color: #e4f9f5;
  color: rgb(71, 70, 70);
  height: 54px;
  z-index: 1040;
}

nav a {
  display: block;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  padding: 20px 10px 5px 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: blanchedalmond;
}

.icon-size {
  width: 28px;
  height: 28px;
  padding: 0;
}

/* Headings */

.heading-style {
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  margin: 18px auto 12px auto;
}

/* Sections */

.colored-section {
  background-color: #e4f9f5;
  color: #11999e;
}

/* Top Container */

.top-container {
  color: #11999e;
  margin: 54px 0 0 0;
  padding: 10px 0 30px 0;
  position: relative;
}

.top-container img {
  height: 340px;
}

.top-container h4 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

/* Projects */

.project-spacing p{
  padding: 5px 0;
}

/* Contact */
.contact-container {
  margin: 10px;
  padding: 10px;
}

.bottom-cushion {
  padding-bottom: 20px;
}

/* Education */

.card-cushion {
  padding: 2% 3%;
}

/* Footer */

.custom-footer {
  background-color: #e4f9f5;
  color: #000000;
  font-size: .75rem;
  padding: 10px 0;
}

/* about-me Profile CSS */

.portfolio {
  padding: 6%;
}

.bio-info {
  padding: 5%;
  padding-top: 80px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px #b0b3b7;
}

.bio-image img {
  border-radius: 50%;
}

.bio-content {
  text-align: left;
}