a {
    color: rgb(71, 70, 70);
}

body {
    margin: 0;
     
}

h1 {
    padding: 10px 0px 0px 10px;
    font-size: 80px;
    font-family: 'Merriweather', serif;
}

h2 {
    padding: 10px 0px 0px 10px;
    font-size: 40px;
    font-family: 'Merriweather', serif;
}

h3 {
    padding: 10px 0px 0px 10px;
    font-size: 30px;
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0px 0px 0px 5px;
}

.heading-style {
    font-family: 'Sacramento', cursive;
}

.top-container {
    background-color: #e4f9f5;
    color: #11999e;
    margin: 78px 0 0 0;
    padding: 10px;
    position: relative;
    text-align: center;
}

.middle-container {
   
}

.bottom-container {
    
}

.external-sites li {
    display: inline;
    position: absolute;
    right: 20px;
}

.nav li {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-right: 30px;
    padding: 0;
}


.navigation-bar {
    background-color: #e4f9f5;
    height: 78px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: left;
    top: 0px;
    width: 100%;
    z-index: 1040;
}

.bottom-cloud {
    position: absolute;
    left: 30%;
}

.top-cloud {
    position: absolute;
    right: 30%;
}