/* Basic Body Elements*/

a {
  color: rgb(71, 70, 70);
}

body {
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1 {
  color: #11999e;
  font-size: 5rem;
  margin: 18px auto 12px auto;
}

h2 {
  color: #66BFBF;
  margin: 0;
  padding: 20px 0;
  font-size: 2.5rem;
}

h3 {
  color: #11999e;
  margin: 0;
  padding: 0px 0px 10px 0px;
  font-size: 2rem;
}

h4 {
  color: #11999e;
  margin: 0;
  padding: 10px 0px 10px 0px;
  font-size: 1.5rem;
}

hr {
  background-position: center;
  border-top: 3px solid #11999e;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 22px auto 10px auto;
  padding: 0;

  width: 50%;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  margin: 0;
}

table {
  padding: 10px 20px;
  ;
}

/* nav elements*/

nav {
  background-color: #e4f9f5;
  height: 54px;
  width: 100%;
  z-index: 1040;
  position: fixed;
  margin: 0;
  padding: 0;
  text-align: left;
  top: 0px;
}

nav a {
  display: block;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  padding: 20px 10px 5px 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: blanchedalmond;
  color: black;
}

.topnav-right a {
  float: right;
  margin: 0;
  padding: 15px 10px 5px 10px;
}

.icon-size {
  width: 28px;
  height: 28px;
  padding: 0;
}

/* Body Styling */

.heading-style {
  font-family: 'Sacramento', cursive;
}

.top-container {
  background-color: #e4f9f5;
  color: #11999e;
  margin: 54px 0 0 0;
  padding: 10px 0 30px 0;
  position: relative;
}

.top-container img {
  height: 340px;
}

.top-container h4 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.middle-container {
  margin: 0;
  position: relative;
}

.contact-container {
  margin: 10px;
  padding: 10px;
}

.bottom-cushion {
  padding-bottom: 20px;
}

.card-cushion {
  padding: 2% 3%;
}

.custom-footer {
  background-color: #e4f9f5;
}

/*text decoration and styling*/

.copyright {
  color: #000000;
  font-size: .75rem;
  padding-bottom: 10px;
  ;
}

.no-bullets {
  list-style: none;
}

/* about-me Profile CSS */

.portfolio {
  padding: 6%;
  text-align: center;
}

.bio-info {
  padding: 5%;
  background: #fff;
  box-shadow: 0px 0px 4px 0px #b0b3b7;
}

.name {
  font-family: 'Charmonman', cursive;
  font-weight: 600;
}

.bio-image {
  text-align: center;
}

.bio-image img {
  border-radius: 50%;
}

.bio-content {
  text-align: left;
}

.bio-content p {
  font-weight: 600;
  font-size: 30px;
}